*{
    padding: 0px;
    margin: 0px;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    width: 400px;
    padding: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);/**/
    box-sizing: border-box;/*включает в размер блока паддинги */
    border-radius: 10px;

}
.input-container,
.select-container{
    position: relative;
    margin-top: 40px;
}
.input-container input[type="text"],
.select-container select
{/*только для типу input text , чтобы все остальные также расширить, прописать их дополнительно или убрать*/
    display: block;
    width: 100%;
    padding: 8px 7px 5px 7px;
    box-sizing: border-box;
    border-radius: 5px;
    border: rgb(45, 47, 53) solid 1px;
    color: rgb(41, 29, 27);
    line-height: 25px;
    font-size: 18px;
}

.input-container input:focus{
    color: rgb(228, 154, 18); /*при наведении меняет цвет текста курсором*/
}
.input-container label{
    position: absolute;
    top: -25px;
    left: 20px;
    background: white;
    padding: 0px 3px;

}
.select-container select{
    appearance: none;/*убирает лишние примочки*/
    -webkit-appearance: none;

}

.checkbox-list{
    margin-top: 15px;
}

.checkbox-container input[type="checkbox"]{
    appearance: none; /*убираем точки для чек-бокса */
    -webkit-appearance: none;
}
.checkbox-container{
    position: relative;
    margin-top: 10px;/*для того чтобы эллипсы не налазили друг на друга*/

}
.checkbox-container label{
    padding-left: 45px;
}
.checkbox-container label::after{
    content:  '';
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 40px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid orange;
    border-radius: 20px;
}
.checkbox-container label::before{ /*делаем ползунок-точку справа налево*/
    content: '';
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    background: chocolate;
    border-radius: 50%;
    top: 0px; /*позиционируем точку*/
    left: 0px;
    transition: all 0.3s;
}
.checkbox-container input:checked + label::before{ /*сдвигаем точку*/
    left: 20px;
    transition: all 0.3s;
    background: rgb(8, 85, 62);
    z-index: 1;
}
.checkbox-container input:checked + label::after{ /*сдвигаем точку*/    
    transition: all 0.3s;
    background: orange;
    transition-delay: 0.2s;/*задержка анимации*/
}
