*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;    
}
header{    
    background-color: #ecf3ea;         
}
body{ /* Во всем BODY будет данный шрифт, - родитель для всех классов -- цвет всей страницы*/
    font-family: 'Josefin Sans', sans-serif;
} 
.flex{
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    position: static;    
}
.container{     
    width: 1170px;
    margin-left: auto;
    margin-right: auto;

}
.container_vert{
    
    width: 1170px;
    padding: 160px auto; 
    
}
.lbl-font{   
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.06em;
    color: #128C76;
    font-weight: bold;
}
.header-menu{ 
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
header nav ul {
    list-style: none;/*убираем точку перед элементами списка*/
    display: flex;    
    align-items: center;   
}
header nav ul li{
    margin-right: 16px;/* раздвигает кнопки между собой к тэгу li*/
}
.red{
    text-transform: uppercase;
    color: #F56B8D;       
    border: 1px solid #F56B8D;
    box-sizing: border-box;
}
.button-register{
    padding: 16px 40px 14px; }
.green {    
    color: #FFFFFF;
    text-transform: uppercase;
    background-color:#128C76; 
}
.button-header{ 
    padding: 16px 40px 14px 40px;   
}
header nav ul li a{
    transition: all 0.1s;
    text-decoration: none;/*убираем подчеркивание текста*/
}
header nav ul li a:hover { /* hover реагирует при наведении */
    background: rgb(204, 142, 142);
    /*background: linear-gradient(45deg, rgb(167, 123, 150) 0%, rgb(71, 70, 54) 100%);*/
    /*background: linear-gradient(45deg, #00b3ff 0%, #6a11cd 100%);*/
    color: black;
    transition: all 0.3s; /* Скорость подсветки кнопок*/
}
header nav ul li a:active {
    /*при наведении кнопкой мыши (длителдьное нажатие)
     - в основном при адаптации 
    для мобильных устройств*/
    background: rgb(141, 228, 69);
    border: 5px solid rgb(211, 25, 65);
}
.banner{
    position: relative;          
}
.banner-flex{
    position: absolute;
    margin: 202px 775px 204px 375px;
    display: flex;
    justify-content: space-between;
    flex-direction:column;    
    width: 870px;
    height: 374px;  
    z-index: 1;  
}
.meaningful{  
    margin-left: 0px;
    font-size: 60px;
    line-height: 80px;
    font-weight: bold;
    color: #FFFFFF;
    
}
.browse{
    width: 470px;
    height: 64px;
    margin-left: 0px;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;   
     
}
.button-banner{ 
    display: flex;
    font-size: 16px;
    font-weight:bold;
    line-height: 24px;
    width: 270px;
    height: 70px;  
    justify-content: center; 
    align-items: center;
}
.button-banner:hover{
    color: black;
    transition: all 0.3s; 
    box-shadow: 20px 10px 40px rgba(202, 50, 50, 0.5); /* важно отличие размеров тени, иначе не работает*/
    cursor: progress;
}
.top{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 554px;
    height: 554px;
    
}
.top2{
    position: absolute;
    width: 558px;
    height: 558px;
    left: 227px;
    top: 61px;
    border-radius: 65%;
    filter: alpha(Opacity=40);
    opacity: 0.4; 
}
.circle{
    position: absolute;
    width: 558px;
    height: 558px;
    left: 227px;
    top: 61px;
    border-radius: 50%;    
    background-color: #128C76;
    filter: alpha(Opacity=40);
    opacity: 0.4; 
    
}
.main{
    display: flex;
    flex-direction: column;    
    justify-content: center;  
    align-items: center;
    margin-top: 160px;  
    margin-bottom: 160px;    
}
main ul li{    
    list-style: none; /*убираем точку перед элементами списка*/
}
.infoblock{
    width: 770px;
    height: 152px;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}
.offerings{
    position: static;
    width: 770px;
    height: 64px;    
    font-weight: bold;
    font-size: 48px;
    line-height: 64px;    
    color: #333333;
    
}
.explore{
    position: static;
    color: #999999;
    font-size: 24px;
    line-height: 32px;
    width: 770px;
    height: 64px; 
}
.batton-main{   
    font-family: Josefin Sans;
    font-style: normal;
    font-weight: bold;     
    width: 270px;
    height: 70px;
    padding-top: 24px;
    padding-bottom:  22px;
    padding-left: inherit;  
    text-align: center;     
    font-size: 16px;
    line-height: 24px;    
}
.topic-list{
    
    display: flex;
    flex-direction: column;
    position: absolute;
    
    flex-wrap: wrap;/*перенос на новую строку*/
    gap: 50px 20px;/*выставить отсупы между элементами - строки и столбцы*/
    /*justify-content: space-between; /*некрасиво*/
    border: 1px solid black;

    
}
.topic{
    display:flex;   
    flex-direction: column; 
    width: 370;
    height: 480px;
    position: relative;
    cursor: pointer;
    border: 1px solid black;
}

.tag-list{    
    display: flex;
    position: absolute; 
    top: 24px;
    left: 24px; 
    
}
.tag{
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
    text-transform: uppercase;
    padding: 8px 12px 8px 12px;
    margin-right: 8px;
}

.oxalis{
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    padding-left: 24px;
    padding-right: 24px;
    width:322px;
    height: 240px; 
    border: 1px solid black;
}

.oxalis-title{
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}

.brooklyn{
    font-size: 16px;
    line-height: 24px;
    color: #999999;
}
.recognized{
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.raised{
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
}

